<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/util 
           http://www.springframework.org/schema/util/spring-util.xsd">
           
         
	<context:component-scan base-package="com.fruit.service" />
	<context:component-scan base-package="com.fruit.dao" />
	<!-- <context:component-scan base-package="com.fruit.controller" /> -->
 	
    <!-- ==================本工程内的配置文件 Start================= -->
	<import resource="classpath:spring/base/spring-resources.xml" />
	<import resource="classpath:spring/base/spring-datasource-mysql.xml" />
	<import resource="classpath:spring/base/spring-datasource-oracle.xml" />
	<import resource="classpath:spring/base/spring-transaction.xml" />
	<import resource="classpath:spring/base/spring-aop.xml" />
	<!-- <import resource="classpath:spring/base/spring-dubbo-service-provider.xml" /> -->
	<!-- <import resource="classpath:spring/webServer/spring-quartz.xml" /> -->
	<!-- <import resource="classpath:spring/webServer/spring-webServer.xml" /> -->
	<import resource="classpath:spring/hessian/spring-hessian.xml" />
	<import resource="classpath:spring/dubbo/spring-dubbo.xml"/>
</beans>