<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fruit.dao.mysql.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.fruit.model.Dept" >
    <id column="dept_id" property="deptId" jdbcType="SMALLINT" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="establish_date" property="establishDate" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="isValid" jdbcType="CHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dept_id, dept_name, establish_date, is_valid, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from dept
    where dept_id = #{deptId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from dept
    where dept_id = #{deptId,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.fruit.model.Dept" >
    insert into dept (dept_id, dept_name, establish_date, 
      is_valid, remark)
    values (#{deptId,jdbcType=SMALLINT}, #{deptName,jdbcType=VARCHAR}, #{establishDate,jdbcType=TIMESTAMP}, 
      #{isValid,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fruit.model.Dept" >
    insert into dept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="deptName != null" >
        dept_name,
      </if>
      <if test="establishDate != null" >
        establish_date,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deptId != null" >
        #{deptId,jdbcType=SMALLINT},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="establishDate != null" >
        #{establishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fruit.model.Dept" >
    update dept
    <set >
      <if test="deptName != null" >
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="establishDate != null" >
        establish_date = #{establishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where dept_id = #{deptId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fruit.model.Dept" >
    update dept
    set dept_name = #{deptName,jdbcType=VARCHAR},
      establish_date = #{establishDate,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where dept_id = #{deptId,jdbcType=SMALLINT}
  </update>
</mapper>