<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fruit.dao.mysql.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.fruit.model.vo.GoodsVo" >
    <id column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="producing_area" property="producingArea" jdbcType="VARCHAR" />
    <result column="market_price" property="marketPrice" jdbcType="BIGINT" />
    <result column="sell_price" property="sellPrice" jdbcType="BIGINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="goods_image_url" property="goodsImageUrl" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="goods_type_id" property="goodsTypeId" jdbcType="BIGINT" />
    <result column="goods_category" property="goodsCategory" jdbcType="TINYINT" />
    <result column="employee_id" property="employeeId" jdbcType="BIGINT" />
    <result column="goods_status" property="goodsStatus" jdbcType="TINYINT" />
    <result column="putaway_time" property="putawayTime" jdbcType="TIMESTAMP" />
    <result column="sold_out_time" property="soldOutTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    goods_id, goods_name, producing_area, market_price, sell_price, description, goods_image_url, tag, goods_type_id, goods_category, 
    employee_id, goods_status, putaway_time, sold_out_time, create_time, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from goods
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from goods
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fruit.model.vo.GoodsVo" >
    insert into goods (goods_id, goods_name, producing_area, 
      market_price, sell_price, description, goods_image_url, tag, 
      goods_type_id, goods_category, employee_id, 
      goods_status, putaway_time, sold_out_time, 
      create_time, remark)
    values (#{goodsId,jdbcType=BIGINT}, #{goodsName,jdbcType=VARCHAR}, #{producingArea,jdbcType=VARCHAR}, 
      #{marketPrice,jdbcType=BIGINT}, #{sellPrice,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR}, #{goodsImageUrl,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, 
      #{goodsTypeId,jdbcType=BIGINT}, #{goodsCategory,jdbcType=TINYINT}, #{employeeId,jdbcType=BIGINT}, 
      #{goodsStatus,jdbcType=TINYINT}, #{putawayTime,jdbcType=TIMESTAMP}, #{soldOutTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fruit.model.Goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="producingArea != null" >
        producing_area,
      </if>
      <if test="marketPrice != null" >
        market_price,
      </if>
      <if test="sellPrice != null" >
        sell_price,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="goodsImageUrl != null" >
        goods_image_url,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="goodsTypeId != null" >
        goods_type_id,
      </if>
      <if test="goodsCategory != null" >
        goods_category,
      </if>
      <if test="employeeId != null" >
        employee_id,
      </if>
      <if test="goodsStatus != null" >
        goods_status,
      </if>
      <if test="putawayTime != null" >
        putaway_time,
      </if>
      <if test="soldOutTime != null" >
        sold_out_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="producingArea != null" >
        #{producingArea,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        #{marketPrice,jdbcType=BIGINT},
      </if>
      <if test="sellPrice != null" >
        #{sellPrice,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="goodsImageUrl != null" >
        #{goodsImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="goodsTypeId != null" >
        #{goodsTypeId,jdbcType=BIGINT},
      </if>
      <if test="goodsCategory != null" >
        #{goodsCategory,jdbcType=TINYINT},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="goodsStatus != null" >
        #{goodsStatus,jdbcType=TINYINT},
      </if>
      <if test="putawayTime != null" >
        #{putawayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="soldOutTime != null" >
        #{soldOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fruit.model.Goods" >
    update goods
    <set >
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="producingArea != null" >
        producing_area = #{producingArea,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        market_price = #{marketPrice,jdbcType=BIGINT},
      </if>
      <if test="sellPrice != null" >
        sell_price = #{sellPrice,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="goodsImageUrl != null" >
        goods_image_url = #{goodsImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="goodsTypeId != null" >
        goods_type_id = #{goodsTypeId,jdbcType=BIGINT},
      </if>
      <if test="goodsCategory != null" >
        goods_category = #{goodsCategory,jdbcType=TINYINT},
      </if>
      <if test="employeeId != null" >
        employee_id = #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="goodsStatus != null" >
        goods_status = #{goodsStatus,jdbcType=TINYINT},
      </if>
      <if test="putawayTime != null" >
        putaway_time = #{putawayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="soldOutTime != null" >
        sold_out_time = #{soldOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fruit.model.Goods" >
    update goods
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      producing_area = #{producingArea,jdbcType=VARCHAR},
      market_price = #{marketPrice,jdbcType=BIGINT},
      sell_price = #{sellPrice,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      goods_image_url = #{goodsImageUrl,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      goods_type_id = #{goodsTypeId,jdbcType=BIGINT},
      goods_category = #{goodsCategory,jdbcType=TINYINT},
      employee_id = #{employeeId,jdbcType=BIGINT},
      goods_status = #{goodsStatus,jdbcType=TINYINT},
      putaway_time = #{putawayTime,jdbcType=TIMESTAMP},
      sold_out_time = #{soldOutTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </update>
  
  <select id="selectByParam" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
    <include refid="Base_Column_List" />
    from goods
    where 1 = 1 
    <if test="goodsName != null" >
      and goods_name = #{goodsName,jdbcType=VARCHAR}
    </if>
    <if test="producingArea != null" >
      and producing_area = #{producingArea,jdbcType=VARCHAR}
    </if>
    <if test="marketPrice != null" >
      and market_price = #{marketPrice,jdbcType=BIGINT}
    </if>
    <if test="sellPrice != null" >
      and sell_price = #{sellPrice,jdbcType=BIGINT}
    </if>
    <if test="description != null" >
      and description = #{description,jdbcType=VARCHAR}
    </if>
    <if test="goodsImageUrl != null" >
      and goods_image_url = #{goodsImageUrl,jdbcType=VARCHAR}
    </if>
    <if test="tag != null" >
      and tag = #{tag,jdbcType=VARCHAR}
    </if>
    <if test="goodsTypeId != null" >
      and goods_type_id = #{goodsTypeId,jdbcType=BIGINT}
    </if>
    <if test="goodsCategory != null" >
      and goods_category = #{goodsCategory,jdbcType=TINYINT}
    </if>
    <if test="employeeId != null" >
      and employee_id = #{employeeId,jdbcType=BIGINT}
    </if>
    <if test="goodsStatus != null" >
      and goods_status = #{goodsStatus,jdbcType=TINYINT}
    </if>
    <if test="putawayTime != null" >
      and putaway_time = #{putawayTime,jdbcType=TIMESTAMP}
    </if>
    <if test="soldOutTime != null" >
      and sold_out_time = #{soldOutTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="remark != null" >
      and remark = #{remark,jdbcType=VARCHAR}
    </if>
    
    <if test="startRow != null" >
      limit #{startRow,jdbcType=BIGINT}, #{pageSize,jdbcType=BIGINT}
    </if>
  </select>
  
  <select id="selectCountByParam" resultType="java.lang.Long" parameterType="java.util.HashMap" >
    select 
    count(*)
    from goods
    where 1 = 1 
    <if test="goodsName != null" >
      and goods_name = #{goodsName,jdbcType=VARCHAR}
    </if>
    <if test="producingArea != null" >
      and producing_area = #{producingArea,jdbcType=VARCHAR}
    </if>
    <if test="marketPrice != null" >
      and market_price = #{marketPrice,jdbcType=BIGINT}
    </if>
    <if test="sellPrice != null" >
      and sell_price = #{sellPrice,jdbcType=BIGINT}
    </if>
    <if test="description != null" >
      and description = #{description,jdbcType=VARCHAR}
    </if>
    <if test="goodsImageUrl != null" >
      and goods_image_url = #{goodsImageUrl,jdbcType=VARCHAR}
    </if>
    <if test="tag != null" >
      and tag = #{tag,jdbcType=VARCHAR}
    </if>
    <if test="goodsTypeId != null" >
      and goods_type_id = #{goodsTypeId,jdbcType=BIGINT}
    </if>
    <if test="goodsCategory != null" >
      and goods_category = #{goodsCategory,jdbcType=TINYINT}
    </if>
    <if test="employeeId != null" >
      and employee_id = #{employeeId,jdbcType=BIGINT}
    </if>
    <if test="goodsStatus != null" >
      and goods_status = #{goodsStatus,jdbcType=TINYINT}
    </if>
    <if test="putawayTime != null" >
      and putaway_time = #{putawayTime,jdbcType=TIMESTAMP}
    </if>
    <if test="soldOutTime != null" >
      and sold_out_time = #{soldOutTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="remark != null" >
      and remark = #{remark,jdbcType=VARCHAR}
    </if>
  </select>
  
  
  <select id="search" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
    <include refid="Base_Column_List" />
    from goods
    where 1 = 2 
    <if test="goodsName != null" >
      <if test="isSearchOr">or</if>
      <if test="!isSearchOr">and</if>
      goods_name like concat('%',#{goodsName,jdbcType=VARCHAR},'%')
    </if>
    <if test="producingArea != null" >
      <if test="isSearchOr">or</if>
      <if test="!isSearchOr">and</if>
      producing_area like concat(#{producingArea,jdbcType=VARCHAR},'%')
    </if>
    <if test="description != null" >
      <if test="isSearchOr">or</if>
      <if test="!isSearchOr">and</if>
      description like concat('%',#{description,jdbcType=VARCHAR},'%')
    </if>
    <if test="tag != null" >
      <if test="isSearchOr">or</if>
      <if test="!isSearchOr">and</if>
      tag like concat('%',#{tag,jdbcType=VARCHAR},'%')
    </if>
    <if test="goodsTypeId != null" >
      <if test="isSearchOr">or</if>
      <if test="!isSearchOr">and</if>
      goods_type_id = #{goodsTypeId,jdbcType=BIGINT}
    </if>
    <if test="goodsCategory != null" >
      <if test="isSearchOr">or</if>
      <if test="!isSearchOr">and</if>
      goods_category = #{goodsCategory,jdbcType=TINYINT}
    </if>
    <if test="goodsStatus != null" >
      <if test="isSearchOr">or</if>
      <if test="!isSearchOr">and</if>
      goods_status like concat(#{goodsStatus,jdbcType=TINYINT},'%')
    </if>
    
    <if test="startRow != null" >
      limit #{startRow,jdbcType=BIGINT}, #{pageSize,jdbcType=BIGINT}
    </if>
  </select>
  
  <select id="searchCount" resultType="java.lang.Long" parameterType="java.util.HashMap" >
    select 
    count(*)
    from goods
    where 1 = 2 
    <if test="goodsName != null" >
      <if test="isSearchOr">or</if>
      <if test="!isSearchOr">and</if>
      goods_name like concat('%',#{goodsName,jdbcType=VARCHAR},'%')
    </if>
    <if test="producingArea != null" >
      <if test="isSearchOr">or</if>
      <if test="!isSearchOr">and</if>
      producing_area like concat(#{producingArea,jdbcType=VARCHAR},'%')
    </if>
    <if test="description != null" >
      <if test="isSearchOr">or</if>
      <if test="!isSearchOr">and</if>
      description like concat('%',#{description,jdbcType=VARCHAR},'%')
    </if>
    <if test="tag != null" >
      <if test="isSearchOr">or</if>
      <if test="!isSearchOr">and</if>
      tag like concat('%',#{tag,jdbcType=VARCHAR},'%')
    </if>
    <if test="goodsTypeId != null" >
      <if test="isSearchOr">or</if>
      <if test="!isSearchOr">and</if>
      goods_type_id = #{goodsTypeId,jdbcType=BIGINT}
    </if>
    <if test="goodsCategory != null" >
      <if test="isSearchOr">or</if>
      <if test="!isSearchOr">and</if>
      goods_category = #{goodsCategory,jdbcType=TINYINT}
    </if>
    <if test="goodsStatus != null" >
      <if test="isSearchOr">or</if>
      <if test="!isSearchOr">and</if>
      goods_status like concat(#{goodsStatus,jdbcType=TINYINT},'%')
    </if>
  </select>
</mapper>