<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fruit.dao.mysql.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.fruit.model.Employee">
    <id column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="dept" jdbcType="SMALLINT" property="dept" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="rank" jdbcType="CHAR" property="rank" />
    <result column="monthly_pay" jdbcType="DECIMAL" property="monthlyPay" />
    <result column="hired_date" jdbcType="DATE" property="hiredDate" />
    <result column="hire_year" jdbcType="SMALLINT" property="hireYear" />
    <result column="employee_status" jdbcType="SMALLINT" property="employeeStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_valid" jdbcType="CHAR" property="isValid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    employee_id, login_name, password, real_name, gender, birthday, dept, position, rank, 
    monthly_pay, hired_date, hire_year, employee_status, create_time, is_valid, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from employee
    where employee_id = #{employeeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from employee
    where employee_id = #{employeeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fruit.model.Employee">
    insert into employee (employee_id, login_name, password, 
      real_name, gender, birthday, 
      dept, position, rank, 
      monthly_pay, hired_date, hire_year, 
      employee_status, create_time, is_valid, 
      remark)
    values (#{employeeId,jdbcType=BIGINT}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, #{birthday,jdbcType=DATE}, 
      #{dept,jdbcType=SMALLINT}, #{position,jdbcType=VARCHAR}, #{rank,jdbcType=CHAR}, 
      #{monthlyPay,jdbcType=DECIMAL}, #{hiredDate,jdbcType=DATE}, #{hireYear,jdbcType=SMALLINT}, 
      #{employeeStatus,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, #{isValid,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fruit.model.Employee">
    insert into employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="dept != null">
        dept,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="monthlyPay != null">
        monthly_pay,
      </if>
      <if test="hiredDate != null">
        hired_date,
      </if>
      <if test="hireYear != null">
        hire_year,
      </if>
      <if test="employeeStatus != null">
        employee_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="employeeId != null">
        #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="dept != null">
        #{dept,jdbcType=SMALLINT},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=CHAR},
      </if>
      <if test="monthlyPay != null">
        #{monthlyPay,jdbcType=DECIMAL},
      </if>
      <if test="hiredDate != null">
        #{hiredDate,jdbcType=DATE},
      </if>
      <if test="hireYear != null">
        #{hireYear,jdbcType=SMALLINT},
      </if>
      <if test="employeeStatus != null">
        #{employeeStatus,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fruit.model.Employee">
    update employee
    <set>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="dept != null">
        dept = #{dept,jdbcType=SMALLINT},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=CHAR},
      </if>
      <if test="monthlyPay != null">
        monthly_pay = #{monthlyPay,jdbcType=DECIMAL},
      </if>
      <if test="hiredDate != null">
        hired_date = #{hiredDate,jdbcType=DATE},
      </if>
      <if test="hireYear != null">
        hire_year = #{hireYear,jdbcType=SMALLINT},
      </if>
      <if test="employeeStatus != null">
        employee_status = #{employeeStatus,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where employee_id = #{employeeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fruit.model.Employee">
    update employee
    set login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      birthday = #{birthday,jdbcType=DATE},
      dept = #{dept,jdbcType=SMALLINT},
      position = #{position,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=CHAR},
      monthly_pay = #{monthlyPay,jdbcType=DECIMAL},
      hired_date = #{hiredDate,jdbcType=DATE},
      hire_year = #{hireYear,jdbcType=SMALLINT},
      employee_status = #{employeeStatus,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where employee_id = #{employeeId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.fruit.model.Employee">
    <id column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="dept" jdbcType="SMALLINT" property="dept" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="rank" jdbcType="CHAR" property="rank" />
    <result column="monthly_pay" jdbcType="DECIMAL" property="monthlyPay" />
    <result column="hired_date" jdbcType="DATE" property="hiredDate" />
    <result column="hire_year" jdbcType="SMALLINT" property="hireYear" />
    <result column="employee_status" jdbcType="SMALLINT" property="employeeStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_valid" jdbcType="CHAR" property="isValid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    employee_id, login_name, password, real_name, gender, birthday, dept, position, rank, 
    monthly_pay, hired_date, hire_year, employee_status, create_time, is_valid, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from employee
    where employee_id = #{employeeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from employee
    where employee_id = #{employeeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fruit.model.Employee">
    insert into employee (employee_id, login_name, password, 
      real_name, gender, birthday, 
      dept, position, rank, 
      monthly_pay, hired_date, hire_year, 
      employee_status, create_time, is_valid, 
      remark)
    values (#{employeeId,jdbcType=BIGINT}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, #{birthday,jdbcType=DATE}, 
      #{dept,jdbcType=SMALLINT}, #{position,jdbcType=VARCHAR}, #{rank,jdbcType=CHAR}, 
      #{monthlyPay,jdbcType=DECIMAL}, #{hiredDate,jdbcType=DATE}, #{hireYear,jdbcType=SMALLINT}, 
      #{employeeStatus,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, #{isValid,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fruit.model.Employee">
    insert into employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="dept != null">
        dept,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="monthlyPay != null">
        monthly_pay,
      </if>
      <if test="hiredDate != null">
        hired_date,
      </if>
      <if test="hireYear != null">
        hire_year,
      </if>
      <if test="employeeStatus != null">
        employee_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="employeeId != null">
        #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="dept != null">
        #{dept,jdbcType=SMALLINT},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=CHAR},
      </if>
      <if test="monthlyPay != null">
        #{monthlyPay,jdbcType=DECIMAL},
      </if>
      <if test="hiredDate != null">
        #{hiredDate,jdbcType=DATE},
      </if>
      <if test="hireYear != null">
        #{hireYear,jdbcType=SMALLINT},
      </if>
      <if test="employeeStatus != null">
        #{employeeStatus,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fruit.model.Employee">
    update employee
    <set>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="dept != null">
        dept = #{dept,jdbcType=SMALLINT},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=CHAR},
      </if>
      <if test="monthlyPay != null">
        monthly_pay = #{monthlyPay,jdbcType=DECIMAL},
      </if>
      <if test="hiredDate != null">
        hired_date = #{hiredDate,jdbcType=DATE},
      </if>
      <if test="hireYear != null">
        hire_year = #{hireYear,jdbcType=SMALLINT},
      </if>
      <if test="employeeStatus != null">
        employee_status = #{employeeStatus,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where employee_id = #{employeeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fruit.model.Employee">
    update employee
    set login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      birthday = #{birthday,jdbcType=DATE},
      dept = #{dept,jdbcType=SMALLINT},
      position = #{position,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=CHAR},
      monthly_pay = #{monthlyPay,jdbcType=DECIMAL},
      hired_date = #{hiredDate,jdbcType=DATE},
      hire_year = #{hireYear,jdbcType=SMALLINT},
      employee_status = #{employeeStatus,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where employee_id = #{employeeId,jdbcType=BIGINT}
  </update>
</mapper>