<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fruit.dao.mysql.FruitOrderMapper" >
  <resultMap id="BaseResultMap" type="com.fruit.model.vo.FruitOrderVo" >
    <id column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="address_id" property="addressId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="order_pay" property="orderPay" jdbcType="BIGINT" />
    <result column="order_ought_pay" property="orderOughtPay" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, customer_id, address_id, create_time, order_pay, order_ought_pay, status, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fruit_order
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fruit_order
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fruit.model.FruitOrder" useGeneratedKeys="true" keyProperty="orderId">
    insert into fruit_order (order_id, customer_id, address_id, create_time, 
      order_pay, order_ought_pay, status, 
      remark)
    values (#{orderId,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{addressId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{orderPay,jdbcType=BIGINT}, #{orderOughtPay,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fruit.model.FruitOrder" useGeneratedKeys="true" keyProperty="orderId">
    insert into fruit_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderPay != null" >
        order_pay,
      </if>
      <if test="orderOughtPay != null" >
        order_ought_pay,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPay != null" >
        #{orderPay,jdbcType=BIGINT},
      </if>
      <if test="orderOughtPay != null" >
        #{orderOughtPay,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fruit.model.FruitOrder" >
    update fruit_order
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="addressId != null" >
        address_id = #{addressId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPay != null" >
        order_pay = #{orderPay,jdbcType=BIGINT},
      </if>
      <if test="orderOughtPay != null" >
        order_ought_pay = #{orderOughtPay,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fruit.model.FruitOrder" >
    update fruit_order
    set customer_id = #{customerId,jdbcType=BIGINT},
      address_id = #{addressId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      order_pay = #{orderPay,jdbcType=BIGINT},
      order_ought_pay = #{orderOughtPay,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  
  <select id="querySelective" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
    *
    from fruit_order fo 
    where 1 = 1
    <if test="customerId != null" >
      and fo.customer_id = #{customerId,jdbcType=BIGINT}
    </if>
    <if test="addressId != null" >
      and fo.address_id = #{addressId,jdbcType=BIGINT}
    </if>
    <if test="createTime != null" >
      and fo.create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="orderPay != null" >
      and fo.order_pay = #{orderPay,jdbcType=BIGINT}
    </if>
    <if test="orderOughtPay != null" >
      and fo.order_ought_pay = #{orderOughtPay,jdbcType=BIGINT}
    </if>
    <if test="status != null" >
      and fo.status = #{status,jdbcType=TINYINT}
    </if>
    <if test="remark != null" >
      and fo.remark = #{remark,jdbcType=VARCHAR}
    </if>
    <if test="startRow != null" >
      limit #{startRow,jdbcType=BIGINT}, #{pageSize,jdbcType=BIGINT}
    </if>
  </select>
</mapper>