<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fruit.dao.mysql.OutboundOrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.fruit.model.OutboundOrderDetail">
    <id column="outbound_order_detail_id" jdbcType="BIGINT" property="outboundOrderDetailId" />
    <result column="outbound_order_id" jdbcType="BIGINT" property="outboundOrderId" />
    <result column="order_detail_id" jdbcType="BIGINT" property="orderDetailId" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="outbound_time" jdbcType="TIMESTAMP" property="outboundTime" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    outbound_order_detail_id, outbound_order_id, order_detail_id, goods_id, create_time, 
    outbound_time, status, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from outbound_order_detail
    where outbound_order_detail_id = #{outboundOrderDetailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from outbound_order_detail
    where outbound_order_detail_id = #{outboundOrderDetailId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fruit.model.OutboundOrderDetail">
    insert into outbound_order_detail (outbound_order_detail_id, outbound_order_id, 
      order_detail_id, goods_id, create_time, 
      outbound_time, status, remark
      )
    values (#{outboundOrderDetailId,jdbcType=BIGINT}, #{outboundOrderId,jdbcType=BIGINT}, 
      #{orderDetailId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{outboundTime,jdbcType=TIMESTAMP}, #{status,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fruit.model.OutboundOrderDetail">
    insert into outbound_order_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="outboundOrderDetailId != null">
        outbound_order_detail_id,
      </if>
      <if test="outboundOrderId != null">
        outbound_order_id,
      </if>
      <if test="orderDetailId != null">
        order_detail_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="outboundTime != null">
        outbound_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="outboundOrderDetailId != null">
        #{outboundOrderDetailId,jdbcType=BIGINT},
      </if>
      <if test="outboundOrderId != null">
        #{outboundOrderId,jdbcType=BIGINT},
      </if>
      <if test="orderDetailId != null">
        #{orderDetailId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outboundTime != null">
        #{outboundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fruit.model.OutboundOrderDetail">
    update outbound_order_detail
    <set>
      <if test="outboundOrderId != null">
        outbound_order_id = #{outboundOrderId,jdbcType=BIGINT},
      </if>
      <if test="orderDetailId != null">
        order_detail_id = #{orderDetailId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outboundTime != null">
        outbound_time = #{outboundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where outbound_order_detail_id = #{outboundOrderDetailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fruit.model.OutboundOrderDetail">
    update outbound_order_detail
    set outbound_order_id = #{outboundOrderId,jdbcType=BIGINT},
      order_detail_id = #{orderDetailId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      outbound_time = #{outboundTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR}
    where outbound_order_detail_id = #{outboundOrderDetailId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.fruit.model.OutboundOrderDetail">
    <id column="outbound_order_detail_id" jdbcType="BIGINT" property="outboundOrderDetailId" />
    <result column="outbound_order_id" jdbcType="BIGINT" property="outboundOrderId" />
    <result column="order_detail_id" jdbcType="BIGINT" property="orderDetailId" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="outbound_time" jdbcType="TIMESTAMP" property="outboundTime" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    outbound_order_detail_id, outbound_order_id, order_detail_id, goods_id, create_time, 
    outbound_time, status, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from outbound_order_detail
    where outbound_order_detail_id = #{outboundOrderDetailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from outbound_order_detail
    where outbound_order_detail_id = #{outboundOrderDetailId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fruit.model.OutboundOrderDetail">
    insert into outbound_order_detail (outbound_order_detail_id, outbound_order_id, 
      order_detail_id, goods_id, create_time, 
      outbound_time, status, remark
      )
    values (#{outboundOrderDetailId,jdbcType=BIGINT}, #{outboundOrderId,jdbcType=BIGINT}, 
      #{orderDetailId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{outboundTime,jdbcType=TIMESTAMP}, #{status,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fruit.model.OutboundOrderDetail">
    insert into outbound_order_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="outboundOrderDetailId != null">
        outbound_order_detail_id,
      </if>
      <if test="outboundOrderId != null">
        outbound_order_id,
      </if>
      <if test="orderDetailId != null">
        order_detail_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="outboundTime != null">
        outbound_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="outboundOrderDetailId != null">
        #{outboundOrderDetailId,jdbcType=BIGINT},
      </if>
      <if test="outboundOrderId != null">
        #{outboundOrderId,jdbcType=BIGINT},
      </if>
      <if test="orderDetailId != null">
        #{orderDetailId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outboundTime != null">
        #{outboundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fruit.model.OutboundOrderDetail">
    update outbound_order_detail
    <set>
      <if test="outboundOrderId != null">
        outbound_order_id = #{outboundOrderId,jdbcType=BIGINT},
      </if>
      <if test="orderDetailId != null">
        order_detail_id = #{orderDetailId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outboundTime != null">
        outbound_time = #{outboundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where outbound_order_detail_id = #{outboundOrderDetailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fruit.model.OutboundOrderDetail">
    update outbound_order_detail
    set outbound_order_id = #{outboundOrderId,jdbcType=BIGINT},
      order_detail_id = #{orderDetailId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      outbound_time = #{outboundTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR}
    where outbound_order_detail_id = #{outboundOrderDetailId,jdbcType=BIGINT}
  </update>
</mapper>