<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fruit.dao.mysql.PurchaseOrderMapper" >
  <resultMap id="BaseResultMap" type="com.fruit.model.PurchaseOrder" >
    <id column="purchase_order_id" property="purchaseOrderId" jdbcType="BIGINT" />
    <result column="purchase_order_name" property="purchaseOrderName" jdbcType="VARCHAR" />
    <result column="employee_id" property="employeeId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="supply_time" property="supplyTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="ParchaseBaseResultMap" type="com.fruit.model.vo.PurchaseOrderVo" >
    <id column="purchase_order_id" property="purchaseOrderId" jdbcType="BIGINT" />
    <result column="purchase_order_name" property="purchaseOrderName" jdbcType="VARCHAR" />
    <result column="employee_id" property="employeeId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="supply_time" property="supplyTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="real_name" property="parchaseName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    purchase_order_id, purchase_order_name, employee_id, create_time, supply_time, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from purchase_order
    where purchase_order_id = #{purchaseOrderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from purchase_order
    where purchase_order_id = #{purchaseOrderId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fruit.model.PurchaseOrder" >
    insert into purchase_order (purchase_order_id, purchase_order_name, 
      employee_id, create_time, supply_time, 
      remark)
    values (#{purchaseOrderId,jdbcType=BIGINT}, #{purchaseOrderName,jdbcType=VARCHAR}, 
      #{employeeId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{supplyTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fruit.model.PurchaseOrder" >
    insert into purchase_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="purchaseOrderId != null" >
        purchase_order_id,
      </if>
      <if test="purchaseOrderName != null" >
        purchase_order_name,
      </if>
      <if test="employeeId != null" >
        employee_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="supplyTime != null" >
        supply_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="purchaseOrderId != null" >
        #{purchaseOrderId,jdbcType=BIGINT},
      </if>
      <if test="purchaseOrderName != null" >
        #{purchaseOrderName,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="supplyTime != null" >
        #{supplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fruit.model.PurchaseOrder" >
    update purchase_order
    <set >
      <if test="purchaseOrderName != null" >
        purchase_order_name = #{purchaseOrderName,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        employee_id = #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="supplyTime != null" >
        supply_time = #{supplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where purchase_order_id = #{purchaseOrderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fruit.model.PurchaseOrder" >
    update purchase_order
    set purchase_order_name = #{purchaseOrderName,jdbcType=VARCHAR},
      employee_id = #{employeeId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      supply_time = #{supplyTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where purchase_order_id = #{purchaseOrderId,jdbcType=BIGINT}
  </update>
  <select id="querySelective" resultMap="ParchaseBaseResultMap" parameterType="java.util.HashMap" >
    select 
    *
    from purchase_order po left join employee e on po.employee_id = e.employee_id 
    where 1 = 1
    <if test="purchaseOrderId != null" >
      and purchase_order_id = #{purchaseOrderId,jdbcType=BIGINT}
    </if>
    <if test="purchaseOrderName != null" >
      and purchase_order_name = #{purchaseOrderName,jdbcType=VARCHAR}
    </if>
    <if test="employeeId != null" >
      and employee_id = #{employeeId,jdbcType=BIGINT}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="supplyTime != null" >
      and supply_time = #{supplyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="remark != null" >
      and remark = #{remark,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>