<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fruit.dao.UserUserMapper" >
  <resultMap id="BaseResultMap" type="com.fruit.model.UserUser" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_no" property="userNo" jdbcType="CHAR" />
    <result column="city_id" property="cityId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="password_prompt" property="passwordPrompt" jdbcType="VARCHAR" />
    <result column="password_answer" property="passwordAnswer" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="isValid" jdbcType="CHAR" />
    <result column="mobile_number" property="mobileNumber" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="CHAR" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="point" property="point" jdbcType="BIGINT" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="qq_account" property="qqAccount" jdbcType="VARCHAR" />
    <result column="msn_account" property="msnAccount" jdbcType="VARCHAR" />
    <result column="space_url" property="spaceUrl" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="is_email_checked" property="isEmailChecked" jdbcType="CHAR" />
    <result column="real_pass" property="realPass" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="is_accept_edm" property="isAcceptEdm" jdbcType="CHAR" />
    <result column="is_mobile_checked" property="isMobileChecked" jdbcType="CHAR" />
    <result column="membership_card" property="membershipCard" jdbcType="VARCHAR" />
    <result column="active_mscard_date" property="activeMscardDate" jdbcType="TIMESTAMP" />
    <result column="primary_channel" property="primaryChannel" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="level_validity_date" property="levelValidityDate" jdbcType="TIMESTAMP" />
    <result column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="last_login_date" property="lastLoginDate" jdbcType="TIMESTAMP" />
    <result column="name_is_update" property="nameIsUpdate" jdbcType="CHAR" />
    <result column="wechat_id" property="wechatId" jdbcType="VARCHAR" />
    <result column="subscribe" property="subscribe" jdbcType="CHAR" />
    <result column="save_credit_card" property="saveCreditCard" jdbcType="CHAR" />
    <result column="is_zj" property="isZj" jdbcType="CHAR" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
    <result column="user_status" property="userStatus" jdbcType="VARCHAR" />
    <result column="point_change_version" property="pointChangeVersion" jdbcType="BIGINT" />
    <result column="active_status" property="activeStatus" jdbcType="SMALLINT" />
    <result column="wechat_unionid" property="wechatUnionid" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_no, city_id, user_name, user_password, password_prompt, password_answer, 
    real_name, address, created_date, updated_date, is_valid, mobile_number, email, gender, 
    id_number, point, nick_name, memo, birthday, qq_account, msn_account, space_url, 
    image_url, is_email_checked, real_pass, phone_number, is_accept_edm, is_mobile_checked, 
    membership_card, active_mscard_date, primary_channel, grade, level_validity_date, 
    group_id, last_login_date, name_is_update, wechat_id, subscribe, save_credit_card, 
    is_zj, user_type, user_status, point_change_version, active_status, wechat_unionid, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fruit.model.UserUser" >
    insert into user_user (user_id, user_no, city_id, 
      user_name, user_password, password_prompt, 
      password_answer, real_name, address, 
      created_date, updated_date, is_valid, 
      mobile_number, email, gender, 
      id_number, point, nick_name, 
      memo, birthday, qq_account, 
      msn_account, space_url, image_url, 
      is_email_checked, real_pass, phone_number, 
      is_accept_edm, is_mobile_checked, membership_card, 
      active_mscard_date, primary_channel, grade, 
      level_validity_date, group_id, last_login_date, 
      name_is_update, wechat_id, subscribe, 
      save_credit_card, is_zj, user_type, 
      user_status, point_change_version, active_status, 
      wechat_unionid, update_time)
    values (#{userId,jdbcType=BIGINT}, #{userNo,jdbcType=CHAR}, #{cityId,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, #{passwordPrompt,jdbcType=VARCHAR}, 
      #{passwordAnswer,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{updatedDate,jdbcType=TIMESTAMP}, #{isValid,jdbcType=CHAR}, 
      #{mobileNumber,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, 
      #{idNumber,jdbcType=VARCHAR}, #{point,jdbcType=BIGINT}, #{nickName,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{qqAccount,jdbcType=VARCHAR}, 
      #{msnAccount,jdbcType=VARCHAR}, #{spaceUrl,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, 
      #{isEmailChecked,jdbcType=CHAR}, #{realPass,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, 
      #{isAcceptEdm,jdbcType=CHAR}, #{isMobileChecked,jdbcType=CHAR}, #{membershipCard,jdbcType=VARCHAR}, 
      #{activeMscardDate,jdbcType=TIMESTAMP}, #{primaryChannel,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, 
      #{levelValidityDate,jdbcType=TIMESTAMP}, #{groupId,jdbcType=VARCHAR}, #{lastLoginDate,jdbcType=TIMESTAMP}, 
      #{nameIsUpdate,jdbcType=CHAR}, #{wechatId,jdbcType=VARCHAR}, #{subscribe,jdbcType=CHAR}, 
      #{saveCreditCard,jdbcType=CHAR}, #{isZj,jdbcType=CHAR}, #{userType,jdbcType=VARCHAR}, 
      #{userStatus,jdbcType=VARCHAR}, #{pointChangeVersion,jdbcType=BIGINT}, #{activeStatus,jdbcType=SMALLINT}, 
      #{wechatUnionid,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fruit.model.UserUser" >
    insert into user_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="passwordPrompt != null" >
        password_prompt,
      </if>
      <if test="passwordAnswer != null" >
        password_answer,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="mobileNumber != null" >
        mobile_number,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="idNumber != null" >
        id_number,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="qqAccount != null" >
        qq_account,
      </if>
      <if test="msnAccount != null" >
        msn_account,
      </if>
      <if test="spaceUrl != null" >
        space_url,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="isEmailChecked != null" >
        is_email_checked,
      </if>
      <if test="realPass != null" >
        real_pass,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="isAcceptEdm != null" >
        is_accept_edm,
      </if>
      <if test="isMobileChecked != null" >
        is_mobile_checked,
      </if>
      <if test="membershipCard != null" >
        membership_card,
      </if>
      <if test="activeMscardDate != null" >
        active_mscard_date,
      </if>
      <if test="primaryChannel != null" >
        primary_channel,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="levelValidityDate != null" >
        level_validity_date,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="lastLoginDate != null" >
        last_login_date,
      </if>
      <if test="nameIsUpdate != null" >
        name_is_update,
      </if>
      <if test="wechatId != null" >
        wechat_id,
      </if>
      <if test="subscribe != null" >
        subscribe,
      </if>
      <if test="saveCreditCard != null" >
        save_credit_card,
      </if>
      <if test="isZj != null" >
        is_zj,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="userStatus != null" >
        user_status,
      </if>
      <if test="pointChangeVersion != null" >
        point_change_version,
      </if>
      <if test="activeStatus != null" >
        active_status,
      </if>
      <if test="wechatUnionid != null" >
        wechat_unionid,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=CHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="passwordPrompt != null" >
        #{passwordPrompt,jdbcType=VARCHAR},
      </if>
      <if test="passwordAnswer != null" >
        #{passwordAnswer,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="mobileNumber != null" >
        #{mobileNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
      <if test="idNumber != null" >
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        #{point,jdbcType=BIGINT},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="qqAccount != null" >
        #{qqAccount,jdbcType=VARCHAR},
      </if>
      <if test="msnAccount != null" >
        #{msnAccount,jdbcType=VARCHAR},
      </if>
      <if test="spaceUrl != null" >
        #{spaceUrl,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="isEmailChecked != null" >
        #{isEmailChecked,jdbcType=CHAR},
      </if>
      <if test="realPass != null" >
        #{realPass,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="isAcceptEdm != null" >
        #{isAcceptEdm,jdbcType=CHAR},
      </if>
      <if test="isMobileChecked != null" >
        #{isMobileChecked,jdbcType=CHAR},
      </if>
      <if test="membershipCard != null" >
        #{membershipCard,jdbcType=VARCHAR},
      </if>
      <if test="activeMscardDate != null" >
        #{activeMscardDate,jdbcType=TIMESTAMP},
      </if>
      <if test="primaryChannel != null" >
        #{primaryChannel,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="levelValidityDate != null" >
        #{levelValidityDate,jdbcType=TIMESTAMP},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginDate != null" >
        #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nameIsUpdate != null" >
        #{nameIsUpdate,jdbcType=CHAR},
      </if>
      <if test="wechatId != null" >
        #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="subscribe != null" >
        #{subscribe,jdbcType=CHAR},
      </if>
      <if test="saveCreditCard != null" >
        #{saveCreditCard,jdbcType=CHAR},
      </if>
      <if test="isZj != null" >
        #{isZj,jdbcType=CHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="pointChangeVersion != null" >
        #{pointChangeVersion,jdbcType=BIGINT},
      </if>
      <if test="activeStatus != null" >
        #{activeStatus,jdbcType=SMALLINT},
      </if>
      <if test="wechatUnionid != null" >
        #{wechatUnionid,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fruit.model.UserUser" >
    update user_user
    <set >
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=CHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="passwordPrompt != null" >
        password_prompt = #{passwordPrompt,jdbcType=VARCHAR},
      </if>
      <if test="passwordAnswer != null" >
        password_answer = #{passwordAnswer,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=CHAR},
      </if>
      <if test="mobileNumber != null" >
        mobile_number = #{mobileNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="idNumber != null" >
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=BIGINT},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="qqAccount != null" >
        qq_account = #{qqAccount,jdbcType=VARCHAR},
      </if>
      <if test="msnAccount != null" >
        msn_account = #{msnAccount,jdbcType=VARCHAR},
      </if>
      <if test="spaceUrl != null" >
        space_url = #{spaceUrl,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="isEmailChecked != null" >
        is_email_checked = #{isEmailChecked,jdbcType=CHAR},
      </if>
      <if test="realPass != null" >
        real_pass = #{realPass,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="isAcceptEdm != null" >
        is_accept_edm = #{isAcceptEdm,jdbcType=CHAR},
      </if>
      <if test="isMobileChecked != null" >
        is_mobile_checked = #{isMobileChecked,jdbcType=CHAR},
      </if>
      <if test="membershipCard != null" >
        membership_card = #{membershipCard,jdbcType=VARCHAR},
      </if>
      <if test="activeMscardDate != null" >
        active_mscard_date = #{activeMscardDate,jdbcType=TIMESTAMP},
      </if>
      <if test="primaryChannel != null" >
        primary_channel = #{primaryChannel,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="levelValidityDate != null" >
        level_validity_date = #{levelValidityDate,jdbcType=TIMESTAMP},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginDate != null" >
        last_login_date = #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nameIsUpdate != null" >
        name_is_update = #{nameIsUpdate,jdbcType=CHAR},
      </if>
      <if test="wechatId != null" >
        wechat_id = #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="subscribe != null" >
        subscribe = #{subscribe,jdbcType=CHAR},
      </if>
      <if test="saveCreditCard != null" >
        save_credit_card = #{saveCreditCard,jdbcType=CHAR},
      </if>
      <if test="isZj != null" >
        is_zj = #{isZj,jdbcType=CHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        user_status = #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="pointChangeVersion != null" >
        point_change_version = #{pointChangeVersion,jdbcType=BIGINT},
      </if>
      <if test="activeStatus != null" >
        active_status = #{activeStatus,jdbcType=SMALLINT},
      </if>
      <if test="wechatUnionid != null" >
        wechat_unionid = #{wechatUnionid,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fruit.model.UserUser" >
    update user_user
    set user_no = #{userNo,jdbcType=CHAR},
      city_id = #{cityId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      password_prompt = #{passwordPrompt,jdbcType=VARCHAR},
      password_answer = #{passwordAnswer,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=CHAR},
      mobile_number = #{mobileNumber,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
      point = #{point,jdbcType=BIGINT},
      nick_name = #{nickName,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      qq_account = #{qqAccount,jdbcType=VARCHAR},
      msn_account = #{msnAccount,jdbcType=VARCHAR},
      space_url = #{spaceUrl,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      is_email_checked = #{isEmailChecked,jdbcType=CHAR},
      real_pass = #{realPass,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      is_accept_edm = #{isAcceptEdm,jdbcType=CHAR},
      is_mobile_checked = #{isMobileChecked,jdbcType=CHAR},
      membership_card = #{membershipCard,jdbcType=VARCHAR},
      active_mscard_date = #{activeMscardDate,jdbcType=TIMESTAMP},
      primary_channel = #{primaryChannel,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      level_validity_date = #{levelValidityDate,jdbcType=TIMESTAMP},
      group_id = #{groupId,jdbcType=VARCHAR},
      last_login_date = #{lastLoginDate,jdbcType=TIMESTAMP},
      name_is_update = #{nameIsUpdate,jdbcType=CHAR},
      wechat_id = #{wechatId,jdbcType=VARCHAR},
      subscribe = #{subscribe,jdbcType=CHAR},
      save_credit_card = #{saveCreditCard,jdbcType=CHAR},
      is_zj = #{isZj,jdbcType=CHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      user_status = #{userStatus,jdbcType=VARCHAR},
      point_change_version = #{pointChangeVersion,jdbcType=BIGINT},
      active_status = #{activeStatus,jdbcType=SMALLINT},
      wechat_unionid = #{wechatUnionid,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  
  <select id="queryByParam" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from user_user
    <where>
    	1 = 1
    	<if test="userId != null">
    		and user_id = #{userId}
    	</if>
    	<if test="userName != null">
    		and user_name like concat('',#{userName},'%')
    	</if>
    </where>
  </select>
  
  <select id="queryByParamCount"  resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(*) from user_user
    <where>
    	1 = 1
    	<if test="userId != null">
    		and user_id = #{userId}
    	</if>
    	<if test="userName != null">
    		and user_name like concat('',#{userName},'%')
    	</if>
    </where>
  </select>
</mapper>