<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.0.xsd 
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- oracle库数据源配置  -->
	<bean id="dataSource_lvmama_pet_oracle" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
		<property name="driverClassName">
		   <value>${lvmama.pet.oracle.driverClassName}</value>
		</property>
		<property name="url">
		   <value>${lvmama.pet.oracle.url}</value>
		</property>
		<property name="username">
		   <value>${lvmama.pet.oracle.username}</value>
		</property>
		<property name="password">
		   <value>${lvmama.pet.oracle.password}</value>
		</property>
		<property name="maxActive">
		   <value>${lvmama.pet.oracle.maxActive}</value>
		</property>
		 <property name="maxWait">
		   <value>${lvmama.pet.oracle.maxWait}</value>
		</property>
		 <property name="maxIdle">
		   <value>${lvmama.pet.oracle.maxIdle}</value>
		</property>
		<property name="initialSize">
		   <value>${lvmama.pet.oracle.initSize}</value>
	    </property>
		<property name="validationQuery">
		   <value>SELECT 1 FROM DUAL</value>
		</property> 
		<property name="filters" value="stat" /> 
	</bean>
    
    
    <!-- mysql数据源的sqlSessionFactory配置 -->
    <bean id="sqlSessionFactory_lvmama_pet_oracle" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource_lvmama_pet_oracle" />
		<property name="configLocation">
		    <value>classpath:mybatis/sqlmap-config.xml</value>		
		</property>
		<property name="mapperLocations"> 
			<value>classpath:mybatis/oracle/*Mapper.xml</value>
		</property>
	</bean>
    
    <!-- mysql数据源的sqlSessionTemplate配置 -->
    <bean id="sqlSessionTemplateLvmamaPetOracle"  class="org.mybatis.spring.SqlSessionTemplate">  
          <constructor-arg index="0" ref="sqlSessionFactory_lvmama_pet_oracle" />  
    </bean>
    
    <!-- 配置MyBatis Mapper接口，自动扫描并通过动态代理实现接口 -->
    <!-- <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    	<property name="basePackage" value="com.fruit.dao.oracle"></property>
    	<property name="sqlSessionTemplateBeanName" value="sqlSessionTemplateLvmamaPetOracle"></property>
    </bean> -->
    
    <!-- UserUserMapper配置接口自动实现动态代理 -->
    <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	  <property name="mapperInterface" value="com.fruit.dao.oracle.UserUserMapper" />
	  <property name="sqlSessionFactory" ref="sqlSessionFactory_lvmama_pet_oracle" />
	</bean>

</beans>