ul{
	list-style-type: none;
	display: block;
}

.fav-bat-btn{ display: block; padding: 0 10px; height: 24px; text-align: center; border: 1px solid #ddd; border-radius: 2px; color: #666 !important;  background: #fafafa;}
.fav-bat-btn:hover{ background: #f5f5f5; text-decoration: none; }

.fav-tab{overflow: hidden;}
.fav-tab li{ float: left;   padding:0 12px;line-height: 30px; position: relative; }
.fav-tab li a{color: #999;font-size: 14px; }
.fav-tab li a:hover{ text-decoration: none; color: #333; }
.fav-tab .active a{ color: #333; }
.fav-tab .active{border-bottom:3px solid #f90;}
.fav-tab .icon-up{ display: none; background-position: -158px -48px; width: 7px; height: 4px; position: absolute;left: 50%; bottom: 0; margin-left: -3px; }
.fav-tab .active .icon-up{display: block;}
.fav-content{ margin: 0 0 0 -19px; }
.fav-content li{position: relative;float: left; width: 242px; height: 256px; border: 1px solid #e3e3e3; margin: 19px 0 0 19px;}
.fav-content .offslef{display:block;background: url(http://pic.lvmama.com/img/v6/myspace/offself.png); width: 228px; height: 152px; position: absolute; top: 0; z-index: 99}
.fav-content-img{ position: relative; display: block; width: 242px; height: 152px; background: url(http://pic.lvmama.com/img/new_v/ui_scrollLoading/loading.gif) no-repeat center center; }
.fav-content-icon{ position: absolute;left: 0; top: 0; display: block; color: #fff; width: 62px;  height: 24px; line-height: 24px; text-align: center; }

.fav-line{ background: #4dc88d }
.fav-hotel{ background: #9494ef }
.fav-tick{ background: #ff99cc }
.fav-Liner{ background: #cc99ee }
.fav-visa{ background: #62c2d8 }
.fav-card{ background: #ddaa62 }
.fav-sale{ background: #ff6666 }
.fav-periphery{background: #ff8888}
.fav-domestic{background: #66cc33}
.fav-outbound{background: #88bbee}

.fav-cotent-box{padding: 6px 10px; height: 84px; overflow: hidden; position: relative;}
.fav-cotent-txt{ max-height: 34px; line-height: 16px; overflow: hidden; font-size: 14px;   margin: 0 0 8px 0;}
.fav-cotent-txt a{color: #666}
.fav-cotent-txt a:hover{ color: #f60 }
.fav-cotent-date{ color: #999;font-size: 12px;  line-height: 14px; }
.fav-price-box{ position: absolute; bottom: -5px; width: 210px;}
.fav-tag-box{ line-height: 18px; height: 18px;  margin: 0 0 6px 0;}
.fav-price{ color: #f60; font-size: 18px;}
.fav-price em{ font-size: 14px; }
.fav-price span{ font-size: 12px; color: #999 }
.fav-praise{ color: #999;   }
.fav-praise em{color: #f80}
.fav-icon-bg{ cursor: pointer; display: inline-block; border-radius: 2px; border: 1px solid #f80; color: #f80; font-size: 12px; padding: 0 4px; height: 14px; line-height: 14px; }
.fav-icon-bg1{ cursor: pointer; display: inline-block; border-radius: 2px; border: 1px solid #f80; color: #fff; font-size: 12px; padding: 0 4px; height: 14px; line-height: 14px; background: #f80; }

.fav-dele{display: none; position: absolute;right: 0; width: 28px; height: 28px; cursor: pointer; z-index: 100;}
.fav-dele i{ background-position: -176px -44px; width: 15px; height: 15px;margin: 5px 0 0 6px; }


.fav-content .icon-checkbox{ display: none; background-position: -89px -463px; width: 19px; height: 19px; position: absolute; right: 0; top: 0; }
.js-fav-hover li:hover .fav-dele{ display: block; }

.js-fav-select .icon-checkbox{display: block;}
.js-fav-action .icon-checkbox{background-position: -113px -463px;}

.favorite_action_operation{display: none; clear: both;font-size: 12px;color: #999;  line-height: 18px; margin: 18px 0 -4px 0;}
.favorite_action_operation label{display: inline-block;}
.favorite_action_operation .js_check_all{vertical-align: middle; margin-right: 10px;}
.favorite_action_operation .fav-dele-btn{ margin: 0 0 0 10px; }


.conmon_icon {
    display: inline-block;
    background-image: url(http://pic.lvmama.com/img/v6/myspace/user_bg.png);
}




/**商品管理列表页面*/
body{
	margin: 0px, 0px, 0px, 0px;
	padding: 0px, 0px, 0px, 0px;
}

.goodses_management_list{
	width: 1360px;
	height:auto;
	display: block;
	margin: 0px, 0px, 0px, 0px;
	padding: 0px, 0px, 0px, 0px;
}

/**商品详情页面*/
.fruit_goods_detail{
	width: 1360px;
	height: 400px;
	display: block;
	margin: 0px, 0px, 0px, 0px;
	padding: 0px, 0px, 0px, 0px;
}

.fruit_goods_detail_price{
	width:600px;
	height:60px;
	display: block;	
}

.add_shopping_cart_btn{
	width:80px;
	height:23px;
	display:block;
	cursor:pointer;
	background-color: #22ac38;
	color: #ffffff;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding-top: 3px;
	padding-left:5px;
	font-size: 14px;
}


/**购物车页面*/
.my_shp_cart_div{
	border: none;
	width: 1360px;
	padding: 0px, 0px, 0px, 0px;
	margin: 0px, 0px, 0px, 0px;
}

.my_shp_cart_div table{
 	border: none;
	width: 100%;
	border-bottom: 1px solid #cccccc;
 }
 
 .my_shp_cart_div th{
 	border: 1px solid #cccccc;
 	background-color: #eeefee;
 	height: 35px;
 }

.my_shp_cart_div td{
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding-top: 10px;
	margin-bottom: 10px;
}